{% extends "base.html.twig" %}

{% block title %} {{ categories.libelle }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">liste des plat de la categorie {{ categories.libelle }}</h1>
    </div>
{% endblock %}