body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    width: 100%;
}  
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}
@media screen and (min-width: 750px) {
    .Carte{
        height: 32rem;
    }
}