body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    width: 100%;
}  
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}
.lien:hover {
    color: black;
}