{% extends 'base.html.twig' %}

{% block title %}
	Administration des utilisateur
{% endblock %}

{% block body %}
	<div class="container-fluid row mt-4">
		<div class="col-2 mb-5">
			<div class="card border-dark mb-3" style="max-width: 20rem;">
				<div class="card-body">
					<h4>
						liste de commande
					</h2>
					<ul>
						<li><a href="{{ path('admin_categorie') }}">liste des categories</a></li>
						<li><a href="{{ path('admin_plat') }}">liste des plats</a></li>
						<li><a href="{{ path('admin_commande') }}">liste des commandes</a></li>
						<li><a href="{{ path('admin_user') }}">liste des utilisateur</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-10">
			<h1>liste des utilisateur</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Numéro</th>
						<th scope="col">Nom</th>
						<th scope="col">Email</th>
						<th scope="col">Role</th>
						<th scope="col">suppresion</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}