{% extends 'base.html.twig' %}

{% block title %}
Administration
{% endblock %}

{% block body %}
<div class="container-fluid row mt-4">
	<h1>bienvenue sur l'espace d'administration</h1>
	<div class="my-5 d-flex justify-content-center row">
		<ul class="list-group col-5">
			<li class="list-group-item"> <a href="{{ path('admin_categorie') }}" class="text-decoration-none d-flex justify-content-center">liste des categories</a> </li>
			<li class="list-group-item"> <a href="{{ path('admin_plat') }}" class="text-decoration-none d-flex justify-content-center">liste des plats</a> </li>
			<li class="list-group-item"> <a href="{{ path('admin_commande') }}" class="text-decoration-none d-flex justify-content-center">liste des commandes</a> </li>
			<li class="list-group-item"> <a href="{{ path('admin_user') }}" class="text-decoration-none d-flex justify-content-center">liste des utilisateur</a> </li>
		</ul>
	</div>
</div>
{% endblock %}