<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Demande de {{ contact.auteur }}</h1>

        <p>Email : {{ contact.email }}</p>
        <p>Sujet : {{ contact.suject }}</p>
        <p>Message :</p>
        <div>
            {{ contact.contenu|raw }}
        </div>
    </body>
</html>