<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/ variables.scss">
    </head>
    <body>
        <div class="d-flex justify-content-center">
			<img src="{{ asset('media/assiette2.jpg') }}" alt="logo" class="">
		</div>
        <h1>commande passer</h1>
        <p>Sujet : Commande validée</p>
        <p>Message :</p>
        <div>
            Nous vous comfirmons que votres commande a bien été prise en compte, merci de votres confience et a bientôt sur theDistrict.
        </div>
    </body>
</html>