<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>commande passer</h1>
        <p>Sujet : Commande validée</p>
        <p>Message :</p>
        <div>
            Nous vous comfirmons que votres commande a bien été prise en compte, merci de votres confience et a bientôt sur theDistrict.
        </div>
    </body>
</html>